<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Faculty</title>
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
    {% include "Header.html" %}
    <form method="POST">
        {% csrf_token %}
        <div align="center">
            <h1>Add Faculty</h1>

            {% if form.message %}
                <h3 style="color: {% if form.error %}red{% else %}green{% endif %};">
                    {{ form.message }}
                </h3>
            {% endif %}

            <table>
                <input type="hidden" name="id" value="{{ form.id }}">

                <tr>
                    <th>First Name:</th>
                    <td><input type="text" name="firstName" value="{{ form.firstName }}" style="width:98%"></td>
                    <td style="color:red;">{{ form.inputError.firstName }}</td>
                </tr>

                <tr>
                    <th>Last Name:</th>
                    <td><input type="text" name="lastName" value="{{ form.lastName }}" style="width:98%"></td>
                    <td style="color:red;">{{ form.inputError.lastName }}</td>
                </tr>

                <tr>
                    <th>Email:</th>
                    <td><input type="text" name="email" value="{{ form.email }}" style="width:98%"></td>
                    <td style="color:red;">{{ form.inputError.email }}</td>
                </tr>

                <tr>
                    <th>Password:</th>
                    <td><input type="text" name="password" value="{{ form.password }}" style="width:98%"></td>
                    <td style="color:red;">{{ form.inputError.password }}</td>
                </tr>

                <tr>
                    <th>Address:</th>
                    <td><input type="text" name="address" value="{{ form.address }}" style="width:98%"></td>
                    <td style="color:red;">{{ form.inputError.address }}</td>
                </tr>

                <tr>
                    <th>Gender:</th>
                    <td>
                        <select name="gender", style="width:100%">
                            <option value="">Select Gender</option>
                            <option value="Male" {% if form.gender == "Male" %}selected{% endif %}>Male</option>
                            <option value="Female" {% if form.gender == "Female" %}selected{% endif %}>Female</option>
                        </select>
                    </td>
                    <td style="color:red;">{{ form.inputError.gender }}</td>
                </tr>

                <tr>
                    <th>DOB:</th>
                    <td><input type="date" name="dob" value="{{ form.dob }}"  style="width:100%"></td>
                    <td style="color:red;">{{ form.inputError.dob }}</td>
                </tr>

                <tr>
                    <th>College:</th>
                    <td>
                        <select name="collegeId"  style="width:100%">
                            <option value="">Select College</option>
                            {% for college in collegeList %}
                                <option value="{{ college.id }}" {% if form.collegeId|stringformat:"s" == college.id|stringformat:"s" %}selected{% endif %}>
                                    {{ college.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td style="color:red;">{{ form.inputError.collegeId }}</td>
                </tr>

                <tr>
                    <th>Course:</th>
                    <td>
                        <select name="courseId" style="width:100%">
                            <option value="">Select Course</option>
                            {% for course in courseList %}
                                <option value="{{ course.id }}" {% if form.courseId|stringformat:"s" == course.id|stringformat:"s" %}selected{% endif %}>
                                    {{ course.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td style="color:red;">{{ form.inputError.courseId }}</td>
                </tr>

                <tr>
                    <th>Subject:</th>
                    <td>
                        <select name="subjectId" style="width:100%">
                            <option value="">Select Subject</option>
                            {% for subject in subjectList %}
                                <option value="{{ subject.id }}" {% if form.subjectId|stringformat:"s" == subject.id|stringformat:"s" %}selected{% endif %}>
                                    {{ subject.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td style="color:red;">{{ form.inputError.subjectId }}</td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" value="Save"></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </form>
    {% include "Footer.html" %}
</body>
</html>